.flex {
    display: flex;
}

.grid-model-control {
    min-width: 100%;
}

/* Table */
.ms-grid-viewer
.ms-table-viewer{
    border-spacing: 0;
    min-width: 100%;
}
.ms-thead-viewer{

}

.ms-out-left-white-16 {
    min-width:10px;
    max-width:10px;
    width:16px;
    background: #FFF;
    position: sticky;
    left: 0;
    border: 0;
    z-index: 25;
    padding: 0;

}
.ms-tbody-viewer {
    background-color: #FFF;
}
.dis-contents {
    display: contents;

}
.ms-tr-viewer
.ms-th-viewer {
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    background-color: #e5e8ec;
    position: sticky;
    z-index:2;
    vertical-align: middle;
    top:0;
}
.ms-tr-viewer
.ms-muli-checkall {
    z-index:3;
    position: sticky;
    min-width: 40px;
    max-width: 40px;
    width: 40px;
}
.ms-th-wiget {
    position: sticky;
    z-index: 4;
    border-left: 1px solid #c7c7c7;
    padding-right: 4px;
}

.ms-out-right-white-30{
    min-width:20px ;
    position: sticky;
    width: 20px;
    max-width:20px ;
    z-index: 25;
    padding: 0;
    background: #FFF;
    right: 0;
}
.ms-out-right-grey-30{
    min-width:20px ;
    position: sticky;
    width: 20px;
    max-width:20px ;
    z-index: 25;
    padding: 0;
    background: #eceef1;
    right:30px;
}
.ms-head-title {
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    padding-right: 12px;
}
.justify-left{

}
.resize {
    width: 5px;
    height:100px;
    position: absolute;
    right: 0;
    top:0;
    cursor: col-resize;

}
.float-right {
    display: block;
    text-align: right;
}
.ms-tr-viewer {
    background-color: #FFF;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.ms-tr-viewer:hover
.ms-thead-viewer:hover {
    background: #f2f9ff;
}
.row-selected
.ms-td-viewer {
    background-color: #e5f3ff;

}
.ms-tr-viewer
.ms-td-viewer{
    border-bottom: 1px solid #c7c7c7;;
    border-right: 1px dotted #c7c7c7;
    white-space: pre-wrap;
}
.ms-tr-viewer
.ms-td-multi {
    z-index:2;
    position: sticky;
    background-color: #FFF;
}
/* Pagination */
.first {
    position: sticky;
    left:0;
    z-index:10;
    background-color: #fff;
}
.end {
    position: sticky;
    right: 0;
    background-color: #fff;
}
.tb-white {
 
        --bs-table-color: #000;
        --bs-table-bg: #fff;
        --bs-table-border-color: #dfe0e1;
        --bs-table-striped-bg: #ecedee;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #dfe0e1;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #e5e6e7;
        --bs-table-hover-color: #000;
        color: var(--bs-table-color);
        border-color: var(--bs-table-border-color);
    
}
