<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/index.html}">
<head>
<title>Thông tin thuốc</title>
<meta content="" name="description">
<meta content="" name="keywords">

</head>
<body>
	<!-- ======= Main ======= -->
	<div layout:fragment="main">
		<main id="main" class="main">
		<div class="pagetitle">
			<h1>Thông tin Thuốc</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
					<li class="breadcrumb-item">Thuốc</li>
					<li class="breadcrumb-item active">Đơn thuốc</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Danh sách thuốc và cách dùng</h5>
							<form class="row g-3"
								style="padding-bottom: 15px; background: #f6f9ff">
								<div class="col-md-2">
									<label for="inputName" class="form-label">Mã đơn thuốc</label>
									<input type="text" class="form-control" id="">
								</div>
								<div class="col-md-2">
									<label for="inputName" class="form-label">Bác sĩ kê đơn</label>
									<input type="text" class="form-control" id="">
								</div>
								<div class="col-md-2">
									<label for="inputName" class="form-label">Ngày kê đơn</label> <input
										type="date" class="form-control" id="">
								</div>
								<div class="col-md-2">
									<label for="inputName" class="form-label">Tổng tiền</label> <input
										type="number" class="form-control">
								</div>
							</form>
							
							<!-- Active Table -->
							
								<table class="table table-borderless">
									<thead>
										<tr>
											<th scope="col" style="min-width: 100px; width: 100px;">Mã thuốc</th>
											<th scope="col" style="min-width: 200px; width: 200px;">Tên thuốc</th>
											<th scope="col" style="min-width: 100px; width: 100px;">Tổng cộng</th>
											<th scope="col" style="min-width: 150px; width: 150px;">Đơn vị</th>
											<th scope="col" style="min-width: 150px; width: 150px;">Phương thức</th>
											<th scope="col" style="min-width: 200px; width: 200px;">Ghi chú cách dùng</th>
											<th scope="col" style="min-width: 50px; width: 50px;"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="item: ${session.donthuoc}">
											<td th:text="${item.thuoc.idThuoc}"></td>
											<td >Acid ethacrynic</td>
											<td><input type="number" class="form-control"
												th:value="${item.soluong}" name="soluong"></td>
											<td><p>Viên</td>
											<td>Uống</td>
											<td><input type="text" class="form-control" id=""></td>
											
											<td><a class="btn"
												th:href="${'/admin/donthuoc/remove/'+ item.thuoc.idThuoc}"
												role="button"><i class="bi bi-x-lg"></i></a></td>

										</tr>
									</tbody>

								</table>
								<button type="submit" class="btn btn-success" >Cập nhật</button>

							
							<a th:href="@{/admin/donthuoc/list}" class="btn btn-primary"><i
								class="bi bi-plus"></i> Thêm thuốc vào toa</a>
							<div class="text-center mb-2">
								<a th:href="${/admin/donthuoc/lists}" class="btn btn-success">
									<i class="bi bi-save"></i> Lưu
								</a>
								<button type="" class="btn btn-dark">
									<i class="bi bi-printer"></i> In
								</button>
							</div>
							<!-- End Tables without borders -->
							<div class="form-bolder"></div>

						</div>
					</div>
				</div>

			</div>
		</section>
		</main>
		<!-- End Main-->
	</div>


</body>
</html>